
<!DOCTYPE html>

<html>

    <head>

        <title> System page </title>

        <!-- Include scripts -->
        {% block scripts %}
            {<script src="{{ asset('js/system.js') }}"></script>}
            <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>
        {% endblock %}

        <!-- Include stylesheets -->
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <!-- Import Quill.js as CDN -->
            <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
            <link href="{{ asset('css/system.css') }}" rel="stylesheet" />

            <style>

                #editor {
                    height: 300px;
                    position: relative;
                    bottom: 20px;
                }

                .ql-container.ql-snow {
                    border: none;
                    outline: none;
                    box-shadow: 1px 2px 1px rgba(150, 150, 150, 0.5), -1px 0 1px rgba(150, 150, 150, 0.5);
                }

                .ql-toolbar.ql-snow {
                    border: none;
                    outline: none;
                    box-shadow: 1px 2px 1px rgba(150, 150, 150, 0.5), -1px 0 1px rgba(150, 150, 150, 0.5);
                }

            </style>

        {% endblock %}

    </head>

    <!-- Body of the template -->
    <body>

        <div id="systemContainer">

            <div id="header">
                <!-- Set Association name -->
                <h2> {{ name }} </h2>

                <!-- Logout and save buttons -->
                <div id="buttons">
                    <a href="/logout" id="logoutButton"><img src="assets/icons/power-button.svg" /></a>
                    <div id="saveDataButton" onclick="updateSystemData()">
                        <img src="assets/icons/content-save.svg" />
                    </div>
                </div>

            </div>


            <div id="systemData">

                <!-- Input for editing Association id -->
                <input id="associationCode" class="inputFields" type="text" value="{{ associationId }}" />

                <!-- Input for Association email -->
                <input id="associationEmail" class="inputFields" type="text" value="{{ associationEmail }}" />

                <!-- Element which holds Quills.js editor -->
                <div id="editor"></div>

                <!-- Element which holds data about Gutscheincodes -->
                <div id="gutscheincodesArea">

                    <div id="rightArea">
                        <h3> Import Gutscheincodes </h3>

                        <div id="uploadContainer">
                            <!-- Fake button for uploading more Gutscheincodes via .csv file -->
                            <button id="uploadButton" onclick="openUploadWindow()">Upload Codes</button>
                            <span id="uploadFileName">No file selected</span>
                        </div>
                    </div>

                    <div id="leftArea">
                        <p class="codesValues"> Un/used Gutscheincodes: {{ unused }} / {{ used }} </p>
                    </div>

                </div>

                <!-- Hidden element -->
                <input id="csvUploadButton" onchange="handleFileUploaded()" type="file" accept=".csv"/>

            </div>

        </div>

        <!-- Script for handling Quills.js appearence -->
        <script>
            // set which options editor has
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
                ['blockquote'], // 'code-block'
                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                ['clean']               // remove formatting button
                //[{ 'align': [] }]
                //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                //[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                //[{ 'direction': 'rtl' }],                         // text direction
            ];

            // create new quill editor on div#editor
            var quill = new Quill('#editor', {
                // set modules for the editor and set it toolbar options defined above
                modules: {
                    toolbar: toolbarOptions,
                },

                // set editor theme (this one is good)
                theme: 'snow'
            });

            // get emailText passed from the PHP script
            var variable = '{{ emailText}}';

            // function for decoding encoded HTML
            var decodeHTML = function (html) {
                var txt = document.createElement('textarea');
                txt.innerHTML = html;
                return txt.value;
            };

            // get decoded HTML
            variable = decodeHTML(variable);

            // set decoded HTML into editor div#editor > div.ql-editor
            document.getElementsByClassName('ql-editor')[0].innerHTML = variable;

        </script>

    </body>

</html>