
<!DOCTYPE html>

<html>

<head>
    <title> System page </title>
    {% block scripts %}
        {<script src="{{ asset('js/system.js') }}"></script>}
        <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/system.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
        <style>
            #editor {
                height: 300px;
                position: relative;
                bottom: 20px;
            }
        </style>
    {% endblock %}

</head>

<body>

<div id="systemContainer">

    <div id="header">
        <h2> Edit Association data </h2>
        <div id="buttons">
            <a href="/logout" id="logoutButton"> Logout </a>
            <button id="saveDataButton" onclick="updateSystemData()">Save</button>
        </div>

    </div>

    <div id="systemData">

        <input id="associationCode" class="inputFields" type="text" value="{{ associationId }}"/>
        <input id="associationEmail" class="inputFields" type="text" value="{{ associationEmail }}"/>
        {#<textarea id="emailText" class="inputFields">{{ emailText }}</textarea>#}

        <div id="editor"></div>

        <p class="codesValues">Used Gutscheincodes: {{ used }}</p>
        <p class="codesValues">Unused Gutscheincodes: {{ unused }}</p>

        <h3> Import Gutscheincodes </h3>

        <div id="uploadContainer">
            <button id="uploadButton" onclick="openUploadWindow()">Upload Codes</button>
            <span id="uploadFileName">No file selected</span>
        </div>

        <input id="csvUploadButton" onchange="handleFileUploaded()" type="file" accept=".csv"/>

    </div>

</div>

<script>
    var toolbarOptions = [
        ['link'], // , 'image'
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
         //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
         //[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
         //[{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        //[{ 'align': [] }]

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions,
        },

        theme: 'snow'
    });

    var variable = '{{ emailText}}';

    var decodeHTML = function (html) {
        var txt = document.createElement('textarea');
        txt.innerHTML = html;
        return txt.value;
    };

    variable = decodeHTML(variable);

    document.getElementsByClassName('ql-editor')[0].innerHTML = variable;


</script>
</body>

</html>