{% extends 'base.html.twig' %}

{% block title %} Login page {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login_page.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div id="loginFormContainer">

        <h2> - Login - </h2>

        <form id="form" action="" method="post">

            <div class="inputWrapper">
                <div class="imageWrapper"><img src="assets/icons/account.svg" /></div>
                <input type="text" name="email" id="emailInput" placeholder="Email" value="{{ email }}" class="input" required/>
            </div>

            <div class="inputWrapper">
                <div class="imageWrapper"><img src="assets/icons/lock.svg" /></div>
                <input type="password" name="password" id="passwordInput" placeholder="Password" value="{{ password }}" class="input" required/>
            </div>

            <p id="errorMessage">{{ error }}</p>

            <div class="submitWrapper">
                <input type="submit" value="Login" id="submitButton"/>
            </div>

        </form>

    </div>

{% endblock %}